<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/style/global.css">
    <title>Cotillón y Repostería San Pedro | Productos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="../../static/image/brand/gif500x500.gif" alt="logo cotillon y reposteria san pedro">
                <div>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../page/productos.html">Productos</a></li>
                    <li><a href="../page/contacto.html">Contacto</a></li>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="6" cy="19" r="2" /><circle cx="17" cy="19" r="2" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <section>

        </section>
    </main>
    <footer>
        <section>
            
        </section>
    </footer>
</body>
</html>